form {
    max-width: 500px;
    margin: 20px auto;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #5356da;
    border-radius: 8px;
    font-family: Arial, sans-serif;

}

.tituloCuestionario{
    background-color: #007BFF; 
    color: white;            
    padding: 12px 20px;       
    border-radius: 6px;        
    text-align: center;       
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

fieldset {
    border: 1px solid #5356da;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    color: #333;
    padding: 0 8px;
}

input[type="submit"] {
    background-color: #5356da;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2a2de2;
}