.bordes{
    border: 1px solid #007BFF;
}

.tablaCoches{
    border-collapse: collapse;
    margin:auto;
}

iframe {
    width: 100%;
    border: 1px solid #007BFF;
    margin-top: 15px;
}

.cajonAnuncio {
    text-align: center;
    padding: 10px;
    border: 1px solid #007BFF;
    background-color: #fff;
    margin-bottom: 15px;
}

audio {
    width: 50%;
    margin-top: 10px;
}

.bordeYcolor{
    color:#007BFF;
    border: 1px solid #007BFF;
}

.tituloPequeño{
    color:#007BFF;
}

.tituloCuestionario{
    background-color: #007BFF; 
    color: white;            
    padding: 12px;       
    border-radius: 6px;
    text-align: center;       
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #5356da;
    border-radius: 8px;
    font-family: Arial, sans-serif;

}

fieldset {
    border: 1px solid #5356da;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 20px;
}

fieldset label{
    display: inline-block;   
    margin-right: 12px;     
    margin-bottom: 8px;      
    font-size: 14px;
}

.fecha{
    display: inline-block;   
    margin-right: 12px;     
    margin-bottom: 20px;      
    font-size: 14px;
}

legend {
    font-weight: bold;
    color: #333;
    padding: 0 8px;
    text-align: center;
}

.titulosFormulario{
    margin-bottom: 20px;
}

.fin{
    text-align: center;
}

input[type="submit"] {
    background-color: #5356da;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2a2de2;
}